*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}
/* body starts */
body{
    background-image: url(cat.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
}
/* body ends */

/* navbar starts */
.navbar {
    padding: 0 1em 0 1em;
    height: 2.5rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    margin-bottom: 200px;

}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    color: aliceblue;
}
ul{
    display: flex;
    width: 382px;
    justify-content: space-between;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color:aliceblue;
    font-size: 1.2em;
    font-weight: 600;
}
a:hover{
    color: rgba(41, 14, 110, 0.936);
    /* background-color: beige; */
    font-size: 1.1em;
    text-decoration:underline; 
    transition-duration: 0.8s;
}
/* navbar ends */
marquee{
    font-weight: 900;
    color: aliceblue;
    position: fixed;
    top: 45px;
    left: 50px;
    right: 810px;
    font-size: 1.3em;
}
/* login page starts */
.login{
    border: 10px solid whitesmoke;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    top: 140px;
    left: 30px;
    height: 332px;
    width: 351px;
    display: flex;
}
.human {
    border-radius: 50%;
}
.button{
    display: flex;
    justify-content: space-around;
}
.button button:hover{
    background-color: transparent;
    color: aliceblue;
}
.head1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head1 span{
    font-weight: 900;
    font-size: 20px;
    box-shadow: inset;

}
#password{
    width: 208px;
}
/* login page ends */